<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SolidWorks.Interop.sldworks" version="32.1.0" targetFramework="net472" />
  <package id="SolidWorks.Interop.swconst" version="32.1.0" targetFramework="net472" />
  <package id="SolidWorks.Interop.swpublished" version="32.1.0" targetFramework="net472" />
</packages>